<!DOCTYPE html>
<html data-ng-app="crucem-elit">
<head>
<meta charset="utf-8">
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script type="text/javascript" src="../../js/angular-resource.min.js"></script>
<script type="text/javascript" src="../../js/angular-route.min.js"></script>
<script type="text/javascript" src="../../js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../custom/js/app.js"></script>
<script type="text/javascript" src="../../custom/js/config.js"></script>
<script type="text/javascript" src="../../custom/js/controller.js"></script>
<meta charset="UTF-8">
<title>CrossFit</title>
</head>
<body data-ng-controller="MainController">
	<div class="page-header">
		<a href="" ng-click="login()">Login</a>
	</div>
	<div ng-repeat="author in authors">{{ author }}</div>

	<div ng-view></div>
</body>
</html>