
<div class="modal-header">
	<h3 class="modal-title">
		<msg key="exercise.add.modal.title" />
	</h3>
</div>
<div class="modal-body">
	
	<div loading-container="tableParams.settings().$loading">
	<table ng-table="tableParams" show-filter="true" class="table">
		<tbody>
			<tr ng-repeat="exercise in $data">
				<td data-title="getTranslation('exercise.name')" sortable="'name'" filter="{ 'name': 'text' }">
					<span>{{exercise.name}}</span>
				</td>
				<td class="buttons">
					<button class="btn btn-add btn-success" ng-click="addExercise(exercise)"><i class="glyphicon-plus-sign glyphicon"></i><msg key="workout.add.exercise"></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()"><msg key="ok"/></button>
	<button class="btn btn-warning" ng-click="cancel()"><msg key="cancel" /></button>
</div>

