<div ng-init="init()"/>
<ul>
	<text ng-repeat="contact in contacts">
	<div class="contactBox pull-left" ng-class="(isFriend(contact)) ? 'friendBox' : 'gymContactBox'" ng-init="getPicture(contact.id, contact.gender)">
        <a href="" class="btn btn-danger pull-right btn-xs" ng-click="removeFriend(contact)" ng-cloak ng-show="isFriend(contact)"><i class="glyphicon glyphicon-trash"></i> <msg key="delete"/></a>
        <div>  
            <div class="pull-left">
                <a href="" ng-click="viewContact(contact.id)">
                    <insert-image source="pictures[contact.id]" classes="'setImgSize img-rounded'"></insert-image>
                </a>
            </div>
            <div class="contactsInfo">
                <a class="contactsLink" href="" ng-click="viewContact(contact.id)">{{ contact.name }}</a>                
                <br>
                <span>{{ contact.gym.name }}</span>
            </div>
        </div>
	</div>
</ul>
