<div ng-init="init()"/>
<ul>
	<text ng-repeat="contact in contacts">
	<div class="contactBox">
   		<a href="" ng-click="viewContact(contact.id)">
   			<img class="setImgSize" src="http://thumbs.dreamstime.com/z/smiling-sun-illustration-character-34434947.jpg">
   		</a>
   		<a href="" ng-click="viewContact(contact.id)">{{ contact.firstName + " " + contact.lastName}}</a>
   		{{ contact.gym.name }}
   		<a href="" ng-click="removeContact(contact.id)" class="removeFriend del-Btn">X</a>
	</div>	
</ul>
