<div class="pull-left profile-img" id="image">
	<div class="form-group " ng-show="isMyProfile()">
		<input type="file" class="col-lg-8 pull-right" name="picture"
			ng-file-select="onFileSelect($files)" accept="image/*"
			ng-show="isChangeInProgress" />
	</div>
</div>
<div class="contactBar pre">
	<div class=" pull-right" ng-hide="isMyProfile()">
		<button class="btn btn-primary">Lisa sõbraks</button>
	</div>
	<form id="form" class="form-horizontal" role="form" name="form"
		ng-init="init()" ng-submit="updateProfile()" novalidate
		show-validation>
		<div class="form-group">
			<label class="col-lg-3 control-label">Eesnimi:</label>
			<div class="col-lg-5">
				<input class="form-control" type="text" ng-show="isChangeInProgress"
					ng-model="contact.firstName">
				<p class="form-control-static" ng-hide="isChangeInProgress">{{contact.firstName}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Perenimi:</label>
			<div class="col-lg-5">
				<input class="form-control" type="text" ng-show="isChangeInProgress"
					ng-model="contact.lastName">
				<p class="form-control-static" ng-hide="isChangeInProgress">{{contact.lastName}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Email:</label>
			<div class="col-lg-5">
				<input class="form-control" type="email" name="email"
					ng-show="isChangeInProgress" ng-model="contact.email" required>
				<p class="form-control-static" ng-hide="isChangeInProgress">{{contact.email}}</p>
			</div>
			<div ng-show="form.email.$dirty && form.email.$invalid">
				<p class="help-block" ng-show="form.email.$error.required">Your
					e-mail is required.</p>
				<p class="help-block" ng-show="form.email.$error.email">Your
					e-mail is invalid.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label"><msg key="gender" /></label>
			<div class="col-lg-3">
				<select class="form-control" ng-model="contact.gender"
					ng-show="isChangeInProgress">
					<option value="MALE">Mees</option>
					<option value="FEMALE">Naine</option>
				</select>
				<p class="form-control-static" ng-hide="isChangeInProgress">{{contact.gender}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Pikkus:</label>
			<div class="col-lg-3">
				<input class="form-control" type="text" ng-show="isChangeInProgress"
					ng-model="contact.length">
				<p class="form-control-static" ng-hide="isChangeInProgress">{{contact.length}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Kaal:</label>
			<div class="col-lg-3">
				<input class="form-control" type="text" ng-show="isChangeInProgress"
					ng-model="contact.weight">
				<p class="form-control-static" ng-hide="isChangeInProgress">{{contact.weight}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Sünniaeg:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" ng-model="contact.dateOfBirth"
					ng-show="isChangeInProgress" datepicker-popup="{{format}}"
					is-open="opened" max-date="maxDate" close-text="Close" style:
					display:inline;>
				<p class="form-control-static" ng-hide="isChangeInProgress">{{contact.dateOfBirth}}</p>
			</div>
			<button type="button" class="btn btn-default" ng-click="open($event)"
				ng-show="isChangeInProgress">
				<i class="glyphicon glyphicon-calendar" ng-show="isChangeInProgress"></i>
			</button>
		</div>
		<div class="form-group" ng-hide="isChangeInProgress">
			<label class="col-md-3 control-label">Boks:</label>
			<div class="col-md-8">
				<p class="form-control-static">{{contact.gym.name}}</p>
			</div>
		</div>
		<div class="form-group" ng-show="isMyProfile() && isChangeInProgress">
			<label class="col-md-3 control-label"></label>
			<div class="col-md-8">
				<input type="submit" class="btn btn-primary" value="Salvesta" ng-disabled="form.$invalid">
				<a class="btn btn-default" ng-click="cancelProfile()">Cancel</a>
			</div>
		</div>
		<div class="pull-right" ng-show="isMyProfile() && isChangeable">
			<a class="btn btn-success" ng-click="changeProfile()">Muuda</a>
		</div>
	</form>


</div>