<div class ="contactBar pre">
	<div class = "pull-left contactText">

			Eesnimi:
            </br>
            Perenimi:
            </br>
            Email:
            </br>
            Kaal:
            </br>
            Pikkus:
            </br>
            Sünniaeg:
            </br>
            Boks:	
	
	</div>
	<div class="pull-right contactText" >

            <div ng-init="init()"/>
            {{contact.firstName}}
            </br>
            {{contact.lastName}}
            </br>
            {{contact.email}}
            </br>

	</div>
	<div id="imgDiv" />
	<div class="form-group" ng-show="isMyProfile()">
		<label>File*</label> <input type="file" class="col-lg-8 pull-right"
			name="picture" ng-file-select="onFileSelect($files)" accept="image/*"/>
	</div>
</div>