<div class="container" ng-init="init()">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad">
			<div class="panel panel-fill">
				<div class="panel-heading">
					<h1 class="workout-header">{{workout.name}}</h1>
				</div>
				<div class="panel-body" ng-show="finishedLoading">
					<form id="form" class="form-horizontal" role="form" name="form" ng-submit="saveFilledWorkout()">
					<fieldset ng-disabled="workout.completed"> 
						<div class="form-group">
							<label class="col-lg-2"><msg key=workout.fill.date></label>
							<div>
								<p>{{workout.date}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2"><msg key="workout.fill.name" /></label>
							<div>
								<p>{{workout.comment}}</p>
							</div>
						</div>
						<div class="page-header">
							<nav class="clear">
								<div class="panel panel-default">
									<h2 class="pull-left">
										<msg key="workout.groups" />
									</h2>
								</div>
							</nav>
						</div>

						<div ng-repeat="group in workout.exerciseGroups">
							<div class="form-group">
								<div class="underlined">
									<h3 class="bottom-padding">
										{{group.name}}<span ng-if="group.wod"> - WOD</span>
									</h3>
								</div>
								<div ng-if="group.wod" class="form-group">
									<div class="form-group">
										<p class="col-lg-2 result-label">
											<msg key="workout.fill.wod" />
										</p>
									</div>
									<div class="form-group">
										<p class="col-lg-2 result-label">
											<msg key="workout.fill.time" />
										</p>
										<div class="pull-left">
											<input class="text-result" type="number" min="0" step="0.5" ng-model="group.record.time">
										</div>
									</div>
									<div class="form-group">
										<p class="col-lg-2 result-label">
											<msg key="workout.fill.weight" />
										</p>
										<div class="pull-left">
											<input type="number" step="2.5" min="0" class="text-result" ng-model="group.record.weight">
										</div>
									</div>
									<div class="form-group">
										<p class="col-lg-2 result-label">
											<msg key="workout.fill.repeats" />
										</p>
										<div class="pull-left">
											<input type="number" step="1" min="0" class="text-result" ng-model="group.record.repeats">
										</div>
									</div>
									<div class="form-group">
										<p class="col-lg-2 result-label">
											<msg key="workout.fill.comment" />
										</p>
										<div>
											<textarea class="text-name" ng-model="group.record.comment" />
										</div>
									</div>
								</div>
								<h4>
									<msg key="workout.add.added.exercises" />
								</h4>
								<ul>
									<div ng-repeat="exercise in group.exercises track by $index">
										<div>
											<li class="pull-left"><label>{{exercise.exerciseModel.name}}</label></li> <br> <br>
											<div ng-if="exercise.exerciseModel.countTime">
												<div class="form-group">
													<p class="col-lg-2 result-label">
														<msg key="workout.fill.time" />
													</p>
													<div class="pull-left">
														<input class="text-result" type="number" min="0" step="0.5" ng-model="exercise.record.time">
													</div>
												</div>
											</div>
											<div ng-if="exercise.exerciseModel.countWeight">
												<div class="form-group">
													<p class="col-lg-2 result-label">
														<msg key="workout.fill.weight" />

													</p>
													<div class="pull-left">
														<input type="number" step="2.5" min="0" class="text-result" ng-model="exercise.record.weight">
													</div>
												</div>
											</div>
											<div ng-if="exercise.exerciseModel.countRepeats">
												<div class="form-group">
													<p class="col-lg-2 result-label">
														<msg key="workout.fill.repeats" />
													</p>

													<div class="pull-left">
														<input type="number" step="1"  min="0" class="text-result" ng-model="exercise.record.repeats">
													</div>
												</div>
											</div>
											<div class="form-group">
												<p class="col-lg-2 result-label">
													<msg key="workout.add.comment" />
												</p>
												<div>
													<textarea class="text-name" ng-model="exercise.record.comment" />
												</div>
											</div>
											<br>
										</div>
									</div>
								</ul>
								<hr class="padding-hr">
								</div>
							</div>
							<div class="form-group" ng-if="!workout.completed">
								<label class="col-md-3 control-label"></label>
								<div class="col-md-8">
									<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
										<msg key="save" />
									</button>
								</div>
							</div>
						</fieldset>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>