
<table ng-table="tableParams" show-filter="true" class="table">
	<tbody>
		<tr ng-repeat="gym in $data">
			<td data-title="'name'" sortable="'name'" filter="{ 'name': 'text' }">{{gym.name}}</td>
			<td data-title="'city'" sortable="'city'" filter="{ 'city': 'text'}">{{gym.city}}</td>
			<td data-title="'address'" sortable="'address'" filter="{ 'address': 'text' }">{{gym.address}}</td>
			<td data-title="'trainers'" sortable="'trainers'" filter="{ 'trainers': 'text' }">{{gym.trainers}}</td>
			<td data-title="'contact'" sortable="'contact'" filter="{ 'contact': 'text' }">{{gym.contact}}</td>
		</tr>
	</tbody>
</table>