<div class="pad-down"/>
<div loading-container="tableParams.settings().$loading">
	<table ng-table="tableParams" show-filter="true" class="table">
		<tbody>
			<tr ng-repeat="gym in $data">
				<td data-title="getTranslation('gym.name')" sortable="'name'" filter="{ 'name': 'text' }">
					<a href="" ng-click="viewGym(gym.id)">{{gym.name}}</a>
				</td>
				<td data-title="getTranslation('gym.city')" sortable="'city'" filter="{ 'city': 'text'}">{{gym.city}}</td>
				<td data-title="getTranslation('gym.address')" sortable="'address'" filter="{ 'address': 'text' }">{{gym.address}}</td>
				<td data-title="getTranslation('gym.trainers')" sortable="'trainers'" filter="{ 'trainers': 'text' }">{{gym.trainers}}</td>
				<td data-title="getTranslation('gym.contact')" sortable="'contact'" filter="{ 'contact': 'text' }">{{gym.contact}}</td>
				<td>
					<button class="btn btn-gym btn-success" ng-click="joinGym(gym)" ng-cloak ng-hide="inGym(gym)"><msg key="join"/></button>
					<button class="btn btn-gym btn-danger" ng-click="leaveGym(gym)" ng-cloak ng-show="inGym(gym)"><msg key="leave"/></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>