

    <div class="col-md-3 col-md-offset-8 ng-scope">
      <a href="" class = "btn main-btn-xlarge btn-primary" ng-click="newWorkout()"><i class="glyphicon-plus-sign glyphicon"></i><msg key="new.workout"/></a>
    </div>


<div class="container">
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad">
        <div class="col-md-6 pull-left">
            <h2>PEALKIRI</h2>
            <p> SISU lflepg plg prglprelg prelg prlgp lreeplg plrgpl gprlpgl prelg prelgp l rerelg prelg prlgp lreeplg plrgpl gprlpgl prelg prelgp l rerelg prelg prlgp lreeplg plrgpl gprlpgl prelg prelgp l re relg prelg prlgp lreeplg plrgpl gprlpgl prelg prelgp l re</p>
            <div>
        <span class="badge">Posted 2014-08-02 20:47:04</span>        
             </div>
            <hr>
            <h2>UUDIS KAKS</h2>
            <p>Bla bla bla bla bla bal bla bla bla lg prlgp lreeplg plrgpl gprlpgl prelg prelgp l rerelg prelg prlgp lreeplg plrgpl gprlpgl prelg prelgp l rerelg prelg prlgp lreeplg plrgpl gprlpgl prelg prelgp l re </p>
            <div>
                <span class="badge">Posted 2014-08-02 20:47:04</span>
            </div>     
            <hr>
        </div>
    
        <div class=" panel panel-default col-md-3 pull-right" id="home-box">
            <div class="panel-heading">
                <h2>Viimased treeningud</h2>
                <div class="space"></div>
            </div>
            <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Jõutreening</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Jõutrenn</li>
                <li class="list-group-item off"><span class="glyphicon glyphicon-ok"></span> Jõurenn</li>
                <li class="list-group-item off"><span class="glyphicon glyphicon-ok"></span> Jõutrenn</li>
                <li class="list-group-item off"><span class="glyphicon glyphicon-ok"></span> Jõutrenn</li>
                <li class="list-group-item off"><span class="glyphicon glyphicon-ok"></span> Jõutrenn</li>
            </ul>
            </div>
        </div>
</div>
</div>

