

    <div class="col-md-3 col-md-offset-8 ng-scope">
      <a href="" class = "btn main-btn-xlarge btn-primary" ng-click="newWorkout()"><i class="glyphicon-plus-sign glyphicon"></i><msg key="new.workout"/></a>
    </div>


    

<div ng-init="init()" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h1 class="panel-title"><msg key="main.table"/></h1>
					</div>
					<div class="panel-body">
						<div class="row">
							<table class="table table-user-information">
								<tbody>
									<tr ng-repeat="workout in workouts">
										<td class="mainTable">{{workout.name}}</td>
                                        <td> {{workout.wod}}</td>
                                        <td> {{workout.date | date:'dd.MM.yyyy'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>