
<div class="page-header" ng-init="init()">
	<nav class="clear">
		<h2 class="pull-left">
			<msg key="records.wod" />
		</h2>
	</nav>
</div>

<button ng-click="applyDateFilterFirstTable()" class="apply-daterange1" hidden />
<button ng-click="clearDateFilterFirstTable()" class="clear-daterange1" hidden />

<div loading-container="wodTableLoading">
	<button ng-click="tableParams.filter({})" class="btn btn-default pull-right clearFilter"><msg key="clear.filter"/></button>
	<table ng-table="tableParams" show-filter="true" class="table">
		<tbody>
			<tr ng-repeat="workout in $data">
				<td data-title="getTranslation('record.table.user')" sortable="'user.name'" filter="{ 'user.name': 'text'}">
					<a href="" ng-click="viewUser(workout.user.id)">{{workout.user.name}}</a>
				</td>
				<td data-title="getTranslation('record.table.wod')" sortable="'wod'" filter="{ 'wod': 'text' }"><a href="" ng-click="viewWorkout(workout)">{{workout.wod}}</a></td>
				<td data-title="getTranslation('record.table.result.repeats')" sortable="'result.repeats'" filter="{ 'result.repeats': 'text'}">{{workout.result.repeats}}</td>
				<td data-title="getTranslation('record.table.result.time')" sortable="'result.time'" filter="{ 'result.time': 'text'}">{{workout.result.time}}</td>
				<td data-title="getTranslation('record.table.result.weight')" sortable="'result.weight'" filter="{ 'result.weight': 'text'}">{{workout.result.weight}}</td>
				<td data-title="getTranslation('record.table.result.comment')" sortable="'result.comment'" filter="{ 'result.comment': 'text'}">{{workout.result.comment}}</td>
				<td data-title="getTranslation('record.table.gym')" sortable="'gym'" filter="{ 'gym': 'text'}">{{workout.gym}}</td>
				<td data-title="getTranslation('record.table.gender')" sortable="'user.gender'" filter="{ 'user.gender': 'select' }" filter-data="genders($column)"><msg key="{{workout.user.gender}}"/></td>
				<td data-title="getTranslation('record.table.date')" sortable="'date'" filter="{ 'date': 'text' , '$$name' : 'daterange1' }">{{workout.date | date: getDateFormat()}}</td>
				<td class="buttons" ng-if="isAllowedToDelete(workout)">
					<button class="btn btn-danger btn-sm pull-right" ng-click="deleteResult(workout)"><i class="glyphicon glyphicon-trash"></i> <msg key="delete"/></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="page-separator page-header">
	<nav class="clear">
		<h2 class="pull-left">
			<msg key="records.exercises" />
		</h2>
	</nav>
</div>

<button ng-click="applyDateFilterSecondTable()" class="apply-daterange2" hidden />
<button ng-click="clearDateFilterSecondTable()" class="clear-daterange2" hidden />

<div loading-container="exerciseTableLoading">
	<button ng-click="tableParams2.filter({})" class="btn btn-default pull-right clearFilter"><msg key="clear.filter"/></button>
	<msg key="group.by"/>
    <select ng-model="groupby">
        <option value="exerciseModel.exerciseType.name">{{ getTranslation("record.table.exerciseModel.exerciseType.name") }}</option>
        <option value="exerciseModel.name">{{ getTranslation("record.table.exerciseModel.name") }}</option>
        <option value="user.name">{{ getTranslation("record.table.user") }}</option>
        <option value="gym">{{ getTranslation("record.table.gym") }}</option>
    </select>
    <br>
	<table ng-table="tableParams2" show-filter="true" class="table">
		<tbody ng-repeat="group in $groups">
			<tr class="ng-table-group">
				<td colspan="3">
					<a href="" ng-click="group.$hideRows = !group.$hideRows"> 
					<span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span><strong>{{ group.value }}</strong>
					</a>
				</td>
				<td><strong>{{ sum(group.data, 'repeats') }}</strong></td>
				<td><strong>{{ sum(group.data, 'time') }}</strong></td>
				<td colspan="4"><strong>{{ sum(group.data, 'weight') }}</strong></td>
			</tr>
			<tr ng-hide="group.$hideRows" ng-repeat="exercise in group.data">
				<td data-title="getTranslation('record.table.user')" sortable="'user.name'" filter="{ 'user.name': 'text'}">
					<a href="" ng-click="viewUser(exercise.user.id)">{{exercise.user.name}}</a>
				</td>
				<td data-title="getTranslation('record.table.exerciseModel.exerciseType.name')" sortable="'exerciseModel.exerciseType.name'" filter="{ 'exerciseModel.exerciseType': 'select'}" filter-data="exerciseTypeOptions($column)">{{exercise.exerciseModel.exerciseType.name}}</td>
				<td data-title="getTranslation('record.table.exerciseModel.name')" sortable="'exerciseModel.name'" filter="{ 'exerciseModel.name': 'text'}">{{exercise.exerciseModel.name}}</td>
				<td data-title="getTranslation('record.table.result.repeats')" sortable="'record.repeats'" filter="{ 'record.repeats': 'text'}">{{exercise.record.repeats}}</td>
				<td data-title="getTranslation('record.table.result.time')" sortable="'record.time'" filter="{ 'record.time': 'text'}">{{exercise.record.time}}</td>
				<td data-title="getTranslation('record.table.result.weight')" sortable="'record.weight'" filter="{ 'record.weight': 'text'}">{{exercise.record.weight}}</td>
				<td data-title="getTranslation('record.table.result.comment')" sortable="'record.comment'" filter="{ 'record.comment': 'text'}">{{exercise.record.comment}}</td>
				<td data-title="getTranslation('record.table.gym')" sortable="'gym'" filter="{ 'gym': 'text'}">{{exercise.gym}}</td>
				<td data-title="getTranslation('record.table.date')" sortable="'date'" filter="{ 'date': 'text' , '$$name' : 'daterange2' }">{{exercise.date | date: getDateFormat()}}</td>
			</tr>
		</tbody>
	</table>
</div>
