<div loading-container="tableParams.settings().$loading">
	<table ng-table="tableParams" show-filter="true" class="table">
		<tbody>
			<tr ng-repeat="record in $data">
				<td data-title="getTranslation('record.table.user')" sortable="'workout.user.name'" filter="{ 'workout.user.name': 'text'}">{{record.workout.user.name}}</td>
				<td data-title="getTranslation('record.table.exercise')" sortable="'exercise.name'" filter="{ 'exercise.name': 'text' }">{{record.exercise.name}}</td>
				<td data-title="getTranslation('record.table.result')" sortable="'result'" filter="{ 'result': 'text' }">{{record.result}}</td>
				<td data-title="getTranslation('record.table.gender')" sortable="'workout.user.gender'" filter="{ 'workout.user.gender': 'select' }" filter-data="genders($column)">{{record.workout.user.gender}}</td>
				<td data-title="getTranslation('record.table.box')" sortable="'workout.user.gym.name'" filter="{ 'workout.user.gym.name': 'text' }">{{record.workout.user.gym.name}}</td>
				<td data-title="getTranslation('record.table.date')" sortable="'workout.date'" filter="{ 'workout.date': 'text', '$$name' : 'daterange' }">{{record.workout.date}}</td>
			</tr>
		</tbody>
	</table>
</div>