
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad">
<div class= "panel panel-success">
    <div class="panel-heading">
        <h1 class="workout-header">
            <msg key="workout.add.header" />
        </h1>
    </div>
    <div class="panel-body">
	<form id="form" class="form-horizontal" role="form" name="form" ng-submit="createWorkout()" novalidate show-validation>
		<div class="form-group">
			<label class="col-lg-2"><msg key="workout.add.name" /></label>
			<div>
				<input type="text" ng-model="workout.name" class="text-name" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2"><msg key="workout.add.date" /></label>
			<div class="pull-left">
				<input type="text" ng-model="workout.date" datepicker-popup="{{format}}" class="text-calendar" placeholder="{{format}}" is-open="opened" required
					show-button-bar=false datepicker-append-to-body=true style:display:inline;>
			</div>
			<a href="" class="btn btn-default btn-xs next-to-input-btn" ng-click="open($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</a>
		</div>
		<div class="form-group">
			<label class="col-lg-2"><msg key="workout.add.comment" /></label>
			<div>
				<textarea ng-model="workout.comment" class="text-name"/>
			</div>
		</div>
		<div class="page-header">
			<nav class="clear">
                <div class= "panel panel-default">
                    <h2 class="pull-left">
                        <msg key="workout.groups" />
                    </h2>
                </div>
				<a href="" class="btn btn-add btn-success pull-right pull-down" ng-click="newExerciseGroup()">
					<i class="glyphicon-plus-sign glyphicon"></i>
					<msg key="workout.add.group">
				</a>
			</nav>
		</div>

		<div ng-repeat="group in workout.exerciseGroups">
			<div class="form-group">
				<label class="pull-left col-lg-2"><msg key="workout.add.exercisegroup.name" /></label>
				<div class="pull-left">
					<input type="text" ng-model="group.name" class="text-name" required>
				</div>
				<a href="" class="btn btn-danger pull-right del-workout-btn next-to-input-btn" ng-click="removeExerciseGroup(group)"><i
					class="glyphicon glyphicon-trash"></i> <msg key="workout.add.exercisegroup.remove"></a>
			</div>
			<div class="form-group">
				<label class="col-lg-2 pull-left"><msg key="workout.add.exercisegroup.isWod" /></label>
				<div>
					<input type="checkbox" ng-model="group.wod">
				</div>
			</div>
			<h3 class="pull-left">
				<msg key="workout.add.added.exercises" />
			</h3>
			<a href="" class="btn btn-add btn-success pull-left btn-xs add-exercise-btn" ng-click="openModal(group)">
				<span class="glyphicon-plus-sign glyphicon"></span>
				<msg key="workout.add.exercises">
			</a>
			<br> <br> <br>
			<ul>
				<div ng-repeat="exercise in group.exercises track by $index">
					<div>
						<li class="pull-left">{{exercise.name}}</li> <a class="col-lg-1" href="" ng-click="showExerciseDetails(exercise)"><msg
								key="workout.add.exercise.details"></a>
						<a href="" class="btn btn-danger pull-left btn-xs" ng-click="removeExercise(group,exercise)">
							<span class="glyphicon glyphicon-remove"></span>
							<msg key="workout.add.exercise.remove">
						</a>
						<br> <br>
						<div ng-if="exercise.clicked">
							<div>
								<i class="glyphicon" ng-class="(exercise.countTime) ? 'glyphicon-ok' : 'glyphicon-remove'"></i>
								<msg key="workout.add.exercise.measure.time">
							</div>

							<div>
								<i class="glyphicon" ng-class="(exercise.countWeight) ? 'glyphicon-ok' : 'glyphicon-remove'"></i>
								<msg key="workout.add.exercise.measure.weight">
							</div>

							<div>
								<i class="glyphicon" ng-class="(exercise.countRepeats) ? 'glyphicon-ok' : 'glyphicon-remove'"></i>
								<msg key="workout.add.exercise.measure.repeats">
							</div>
							
							<div>
								<label class="underlined"><msg key="workout.add.exercise.comment"></label>
								<p class="commentary">{{exercise.comment}}</p>
							</div>

						</div>

					</div>
				</div>
			</ul>
			<hr class="padding-hr">
		</div>

		<div class="form-group">
			<label class="col-md-3 control-label"></label>
			<div class="col-md-8">
				<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || !isWodSelected() || isMissingExercises()">
					<msg key="save" />
				</button>
			</div>
		</div>
	</form>
                    
                        </div>
    </div>
    </div>
    </div>
</div>
</div>