
<div class="page-header" ng-init="init()">
	<nav class="clear">
		<h2 class="pull-left">
			<msg key="workout.pending" />
		</h2>
		<button class="btn btn-add btn-success pull-right pull-down clearFilter" ng-click="newWorkout()">
			<i class="glyphicon-plus-sign glyphicon"></i>
			<msg key="new.workout">
		</button>
	</nav>
</div>

<div loading-container="newTableLoading">
	<button ng-click="tableParams1.filter({})" class="btn btn-default pull-right"><msg key="clear.filter"/></button>
	<table ng-table="tableParams1" show-filter="true" class="table">
		<tbody>
			<tr ng-repeat="workout in $data">
				<td data-title="getTranslation('workout.table.workout')" sortable="'name'" filter="{ 'name': 'text' }">{{workout.name}}</td>
				<td data-title="getTranslation('workout.table.wod')" sortable="'wod'" filter="{ 'wod': 'text'}">{{workout.wod}}</td>
				<td data-title="getTranslation('workout.table.date')" sortable="'date'" filter="{ 'date': 'text' }">{{workout.date | date:'dd.MM.yyyy'}}</td>
				<td data-title="getTranslation('workout.table.comment')" sortable="'comment'" filter="{ 'comment': 'text'}">{{workout.comment}}</td>
				<td class="buttons" width="250">
					<button class="btn btn-danger btn-sm pull-right" ng-click="deleteWorkout(workout)"><i class="glyphicon glyphicon-trash"></i> <msg key="delete"/></button>
					<button class="btn btn-sm pull-right" ng-click="fillWorkout(workout)"><i class="glyphicon glyphicon-play-circle"></i><msg key="workout.fill"/></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="page-separator page-header">
	<nav class="clear">
		<h2 class="pull-left">
			<msg key="workout.history" />
		</h2>
	</nav>
</div>

<div loading-container="doneTableLoading">
	<button ng-click="tableParams2.filter({})" class="btn btn-default pull-right clearFilter"><msg key="clear.filter"/></button>
	<table ng-table="tableParams2" show-filter="true" class="table">
		<tbody>
			<tr ng-repeat="workout in $data">
				<td data-title="getTranslation('workout.table.workout')" sortable="'name'" filter="{ 'name': 'text' }">{{workout.name}}</td>
				<td data-title="getTranslation('workout.table.wod')" sortable="'wod'" filter="{ 'wod': 'text'}">{{workout.wod}}</td>
				<td data-title="getTranslation('workout.table.result.repeats')" sortable="'result.repeats'" filter="{ 'result.repeats': 'text'}">{{workout.result.repeats}}</td>
				<td data-title="getTranslation('workout.table.result.time')" sortable="'result.time'" filter="{ 'result.time': 'text'}">{{workout.result.time}}</td>
				<td data-title="getTranslation('workout.table.result.weight')" sortable="'result.weight'" filter="{ 'result.weight': 'text'}">{{workout.result.weight}}</td>
				<td data-title="getTranslation('workout.table.result.comment')" sortable="'result.comment'" filter="{ 'result.comment': 'text'}">{{workout.result.comment}}</td>
				<td data-title="getTranslation('workout.table.gym')" sortable="'gym'" filter="{ 'gym': 'text'}">{{workout.gym}}</td>
				<td data-title="getTranslation('workout.table.date')" sortable="'date'" filter="{ 'date': 'text' }">{{workout.date | date:'dd.MM.yyyy'}}</td>
			</tr>
		</tbody>
	</table>
</div>