
<div class="row login">
	<div class="col-lg-4 col-lg-offset-3 middle">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label"><msg key="email"></msg> : </label>
				<div class="col-sm-9">
					<input id="username" data-ng-model="username" type="text" class="form-control" autofocus="autofocus" required />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label"><msg key="password"></msg> : </label>
				<div class="col-sm-9">
					<input id="password" data-ng-model="password" type="password" class="form-control" required />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<input type="submit" ng-value="messages['login.button']" class="btn btn-primary" data-ng-click="login()"/>
				</div>
			</div>
		</form>
	</div>
</div>
