<div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="alert alert-danger" ng-cloak ng-show="doNotMatch"><msg key="password.nomatch"/></div>

			<form ng-cloak ng-show="!success" name="form" role="form" ng-submit="register()">

				<div class="form-group">
					<label><msg key="email" /></label> 
					<input type="email" class="form-control" name="email" ng-model="registerAccount.email" required>
				</div>
				<div class="form-group">
					<label><msg key="password"/></label> 
					<input type="password" class="form-control" name="password" ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
				</div>
				<div class="form-group">
					<label><msg key="password.confirmation"/></label> 
					<input type="password" class="form-control" name="confirmPassword" ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
				</div>
				<button type="submit" class="btn btn-primary">
					<msg key="register" />
				</button>
			</form>
			<p></p>
		</div>
	</div>
</div>