<!DOCTYPE html>
<html data-ng-app="crucem-elit">
<head>
<meta charset="utf-8">
<script type="text/javascript" src="../../js/angular.js"></script>
<script type="text/javascript" src="../../js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../../js/i18n.props-min-1.0.9.js"></script>
<script type="text/javascript" src="../../js/angular-resource.js"></script>
<script type="text/javascript" src="../../js/angular-route.js"></script>
<script type="text/javascript" src="../../custom/js/init.js"></script>
<script type="text/javascript" src="../../custom/js/controller/contactcontroller.js"></script>
<script type="text/javascript" src="../../custom/js/controller/gymcontroller.js"></script>
<script type="text/javascript" src="../../custom/js/controller/maincontroller.js"></script>
<script type="text/javascript" src="../../custom/js/controller/registercontroller.js"></script>
<script type="text/javascript" src="../../custom/js/directive.js"></script>
<script type="text/javascript" src="../../custom/js/service.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<title>CrossFit</title>
</head>
<body data-ng-controller="MainController" data-ng-init="init()">

	<div class="navbar navbar-fixed">
		<div class="navbar-inner">
			<a class="brand" href="#"> <msg key="title"></msg>
			</a>
			<ul class="nav">
				<li ng-class="activeWhen(path()=='/login')" ng-show="!user"><a href="#/login"><msg key="login"/></a></li>
				<li ng-class="activeWhen(path()=='/register')" ng-show="!user"><a href="#/register"><msg key="register"/></a></li>
				<li ng-class="activeWhen(path()=='/gym')" ng-show="user"><a href="#/user/gyms"><msg key="gym"/></a></li>
				<li ng-class="activeWhen(path()=='/gym')" ng-show="user"><a href="#/user/contacts"><msg key="contacts"/></a></li>
				
			</ul>
			<ul class="nav nav-pills pull-right">
				<li ng-class="activeWhen(language()=='ee')"><a
					ng-click="setLanguage('ee')"><msg key="language_ee"/></a></li>
				<li ng-class="activeWhen(language()=='en')"><a
					ng-click="setLanguage('en')"><msg key="language_en"/></a></li>
			</ul>
			<p class="navbar-text pull-right" style="margin-right: 5em"
				ng-show="user.email">
				<a ng-click="logout()"><msg key="logout"/></a>
			</p>

			<p class="navbar-text pull-right" style="margin-right: 5em"
				ng-show="user.fullName">Welcome {{user.fullName}}</p>
		</div>
	</div>

	<div class="container">
		<div ng-class="'alert alert-'+message().type" ng-show="message().show">
			<button type="button" class="close" ng-click="message().show=false">×</button>
			<msg key-expr="message().text"></msg>
		</div>
		<ng-view />
	</div>
</body>
</html>