<!DOCTYPE html>
<html ng-app="crucem-elit">
<head>
<meta charset="utf-8">
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/i18n.props-min-1.0.9.js"></script>
<script type="text/javascript" src="js/angular-resource.js"></script>
<script type="text/javascript" src="js/angular-route.js"></script>
<script type="text/javascript" src="custom/js/init.js"></script>
<script type="text/javascript" src="custom/js/controller/contactcontroller.js"></script>
<script type="text/javascript" src="custom/js/controller/gymcontroller.js"></script>
<script type="text/javascript" src="custom/js/controller/maincontroller.js"></script>
<script type="text/javascript" src="custom/js/controller/registercontroller.js"></script>
<script type="text/javascript" src="custom/js/directive.js"></script>
<script type="text/javascript" src="custom/js/service.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script type="text/javascript" src="js/ng-table.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/ng-table.css" rel="stylesheet">
<title>Crucem Elit - CrossFit Tracker</title>
</head>
<body ng-controller="MainController" ng-init="init()">

	<div class="navbar navbar-fixed">
		<div class="navbar-inner">
			<a class="brand" href="#"> <msg key="title"></msg>
			</a>
			<ul class="nav">
				<li ng-class="activeWhen(path()=='/trainings')" ng-show="user"><a href="#/user/trainings"><msg key="trainings"/></a></li>
				<li ng-class="activeWhen(path()=='/gym')" ng-show="user"><a href="#/user/gyms"><msg key="gym"/></a></li>
                <li ng-class="activeWhen(path()=='/contacts')" ng-show="user"><a href="#/user/contacts"><msg key="contacts"/></a></li>
				<li ng-class="activeWhen(path()=='/records')" ng-show="user"><a href="#/user/records"><msg key="records"/></a></li>
				<li ng-class="activeWhen(path()=='/login')" ng-show="!user"><a href="#/login"><msg key="login"/></a></li>
				<li ng-class="activeWhen(path()=='/register')" ng-show="!user"><a href="#/register"><msg key="register"/></a></li>
			</ul>
			<ul class="nav nav-pills pull-right">
				<li ng-class="activeWhen(language()=='ee')"><a ng-click="setLanguage('ee')"><msg key="language_ee"/></a></li>
				<li ng-class="activeWhen(language()=='en')"><a ng-click="setLanguage('en')"><msg key="language_en"/></a></li>
			</ul>
            <ul class="nav nav-pills pull-right" ng-show="user" style="margin-right: 5em">
                <button  class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-show="user.fullName">
                        {{user.fullName}} 
                </button>    
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="/#/profile" class="dropdown-option"><msg key="profile"/></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="logout()" class="dropdown-option"><msg key="logout"/></a>
                    </li>
                </ul>
            </ul>            
		</div>
	</div>
	<div class="container">
		<div ng-class="'alert alert-'+message().type" ng-show="message().show">
			<button type="button" class="close" ng-click="message().show=false">×</button>
			<msg key-expr="message().text"/>
		</div>
		<ng-view />
	</div>
</body>
</html>