<!DOCTYPE html>
<html ng-app="crucem-elit">
<head>
<meta charset="utf-8">
<script src="js/jquery-2.1.1.js"></script>
<script src="js/angular-file-upload-html5-shim.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-file-upload.js"></script> 
<script src="js/i18n.props-min-1.0.9.js"></script>
<script src="js/angular-resource.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/angular-cookies.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/toaster.js"></script>
<script src="custom/js/init.js"></script>
<script src="custom/js/controller/contactcontroller.js"></script>
<script src="custom/js/controller/exercisecontroller.js"></script>
<script src="custom/js/controller/exercisetypecontroller.js"></script>
<script src="custom/js/controller/gymcontroller.js"></script>
<script src="custom/js/controller/invitecontroller.js"></script>
<script src="custom/js/controller/maincontroller.js"></script>
<script src="custom/js/controller/registercontroller.js"></script>
<script src="custom/js/controller/workoutcontroller.js"></script>
<script src="custom/js/controller/recordcontroller.js"></script>
<script src="custom/js/controller/usercontroller.js"></script>
<script src="custom/js/config.js"></script>
<script src="custom/js/directive.js"></script>
<script src="custom/js/project.js"></script>
<script src="custom/js/service.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script src="js/ng-table.js"></script>
<script src="js/jquery-ui.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel = "stylesheet" type = "text/css" href = "custom/stylesheets/crossfit.css">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/ng-table.css" rel="stylesheet">
<link href="css/toaster.css" rel="stylesheet">
<link href="css/jquery-ui.min.css" rel="stylesheet">
<title>Crucem Elit - CrossFit Tracker</title>
</head>

<body ng-controller="MainController">
<div class="container">
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/"> <msg key="title"></msg></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav" ng-cloak ng-show="user">
					<li ng-class="activeWhen(pathContains('/user/workouts'))"><a href="#/user/workouts"><msg key="workouts"/></a></li>
					<li ng-class="activeWhen(pathContains('/user/gyms'))"><a href="#/user/gyms"><msg key="gym"/></a></li>
                	<li ng-class="activeWhen(pathContains('/user/contacts'))"><a href="#/user/contacts"><msg key="contacts"/></a></li>
					<li ng-class="activeWhen(pathContains('/user/records'))"><a href="#/user/records"><msg key="records"/></a></li>
					<li>
						<a data-toggle="popover" data-placement="bottom" data-target=".popover-target-search"><span class="glyphicon glyphicon-search"></span> <msg key="search"/></a>
						<div class="popover-target popover-target-search">
							<input type="text" placeholder="{{ getTranslation('search') }}" class="form-control" data-ng-model="search" auto-complete/> 
						</div>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-cloak ng-show="!user">
						<a data-toggle="popover" data-placement="bottom" data-target=".popover-target-login"><msg key="login"/></a>
						<div class="popover-target popover-target-login">
								<form name="form" role="login" ng-submit="login(username, password)" novalidate show-validation>
									<div class="form-group">
										<input type="email" ng-blur="visitedEmail=true" placeholder="{{ getTranslation('email') }}" class="form-control" name="email" data-ng-model="username" required ng-disabled="loginClicked"/>
										<div ng-cloak ng-show="form.email.$dirty && form.email.$invalid && visitedEmail">
											<p class="help-block" ng-cloak ng-show="form.email.$error.required"><msg key="email.required"/></p>
											<p class="help-block" ng-cloak ng-show="form.email.$error.email"><msg key="email.invalid"/></p>
										</div>
									</div>
									<div class="form-group">
										<input type="password" placeholder="{{ getTranslation('password') }}" class="form-control" name="password" data-ng-model="password" required ng-disabled="loginClicked"/>
										<div ng-cloak ng-show="form.password.$dirty && form.password.$invalid">
											<p class="help-block" ng-cloak ng-show="form.password.$error.required"><msg key="password.required"/></p>
										</div>
									</div>
									<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || loginClicked"><msg key="login" /> »</button>
									<a href="/#/forgot" class="forgot-password-link"><msg key="forgot.password"/></a>           
								</form>
  						</div>                      
					</li>
					<li ng-class="activeWhen(pathContains('/register'))" ng-cloak ng-show="!user"><a href="#/register"><msg key="register"/></a></li>
					<li class="dropdown" ng-cloak ng-show="user">
      					<a data-toggle="popover" data-placement="bottom" data-target=".popover-target-user"><span class="glyphicon glyphicon-user"> {{user.name}}</span></a>
						<div class="popover-target popover-target-user">
      						<ul class="dropdown dropdown-user">
                    			<li><a href="/#/user/contacts/profile" class="dropdown-option"><msg key="profile"/></a></li>
                    			<li><a href="/#/user/invite" class="dropdown-option"><msg key="invite"/></a></li>
                    			<li class="divider" />
                    			<li ng-show="hasRole('ADMIN')"><a href="/#/user/gyms" class="dropdown-option"><msg key="admin.gyms"/></a></li>
                    			<li ng-show="hasRole('ADMIN')"><a href="/#/admin/exercisetypes" class="dropdown-option"><msg key="admin.exercisetypes"/></a></li>
                    			<li ng-show="hasRole('ADMIN')"><a href="/#/admin/exercises" class="dropdown-option"><msg key="admin.exercises"/></a></li>
                    			<li ng-show="hasRole('ADMIN')"><a href="/#/admin/users" class="dropdown-option"><msg key="admin.users"/></a></li>
                    			<li class="divider" ng-show="hasRole('ADMIN')"/>
                    			<li><a ng-click="logout()" class="dropdown-option"><msg key="logout"/></a></li>
      						</ul>       
  						</div>    
    				</li>
					<li class="dropdown">
    					<a class="dropdown-toggle" data-toggle="dropdown">
    						<span class="flag flag-{{language()}}"></span>
    						<b class="caret"></b>
    					</a>
    					<ul class="dropdown-menu">
    						<li ng-repeat="lang in availableLanguages">
    							<a ng-click="setLanguage(lang)"><span class="flag flag-{{lang}}"></span><msg class="pad-left" key="language_{{lang}}"/></a>
    						</li>
    					</ul>
    				</li>
				</ul>
            </div>         
		</div>
	</div>
	<div class="container">
		<toaster-container toaster-options="{'time-out': 3000, 'position-class': 'toast-top-right'}"></toaster-container>
		<ng-view />
	</div>
</div>
</body>
</html>